try-import %workspace%/.init.bazelrc
common --registry=https://raw.githubusercontent.com/nick-dodonov/tx-kit-registry/main
common --registry=https://bcr.bazel.build/
common --enable_platform_specific_config

# Configure boost.asio to use BoringSSL for SSL support
build --@boost.asio//:ssl=boringssl
build:wasm --@boost.asio//:ssl=no_ssl
# WASM threading support w/ boost
# build:wasm --copt="-pthread"

try-import %workspace%/.dev.bazelrc
try-import %workspace%/.user.bazelrc
