<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tx"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:label="Try Sdl App"
        android:hasCode="true"
        >
        <activity
            android:name="TryActivity"
            android:exported="true" >

            <meta-data
                android:name="android.app.lib_name"
                android:value="$LIB_NAME" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
